* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body {
  background: black;
  color: #00ff9c;
}

/* CENTER */
.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* PROFILE */
.profile {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #00ff9c;
  box-shadow: 0 0 25px #00ff9c;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  margin-top: 25px;
  padding: 14px 40px;
  background: transparent;
  border: 1px solid #00ff9c;
  color: #00ff9c;
  cursor: pointer;
}

button:hover {
  background: #00ff9c;
  color: black;
}

/* HIDDEN */
.hidden {
  display: none;
}

/* ACCESS GRANTED */
.granted {
  font-size: 4rem;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* TERMINAL TEXT */
.terminal-text {
  margin-top: 30px;
  text-align: left;
  width: 90%;
  max-width: 500px;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* PORTFOLIO TERMINAL */
.terminal {
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #00ff9c;
}

.skills span {
  display: inline-block;
  margin: 6px;
  padding: 6px 12px;
  border: 1px solid #00ff9c;
}

/* FINGERPRINT */
.fingerprint {
  width: 90px;
  height: 120px;
  border-radius: 50%;
  border: 2px dashed #00ffcc;
  position: relative;
  opacity: 0.9;
}

.fingerprint::before,
.fingerprint::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 2px solid #00ffcc;
  inset: 10px;
}

.fingerprint::after {
  inset: 25px;
  opacity: 0.6;
}


@keyframes scan {
  0% { top: 0; }
  100% { top: 100%; }
}

/* MOBILE */
@media (max-width: 600px) {
  .granted {
    font-size: 2.5rem;
  }
}

